* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


div {
    display: flex;
    justify-content: center;
    margin-top: 11.1%;
}


table {
    text-align: center;
    width: 750px;
    height: 300px;
}


th {
    color: white;
    background-color: green;
    width: 37.5px;
    height: 43px;
}


td {
    background-color: lightgreen;
}


th, td {
    border-radius: 5px;
}