* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Style inheritance - იგულისხმება მშობელი ელემენტისგან ყველა CSS-ის წესის გადაღება შვილი ელემენტის მიერ.
    ID selector - ელემენტს ენიჭება ინდივიდუალური ნომერი, რომლის CSS-ში სელექტორად დაწერისას მხოლოდ ამ აიდის მქონე ელემენტზე
მოქმედებს მოცემული CSS-ის წესი.
    Class selector - საშუალებას გვაძლევს, მოვნიშნოთ ელემენტების ჯგუფი ერთი და იგივე სახელით, რომლის სელექტორად დაწერისას CSS-ის
მოცემული წესი მხოლოდ ამ ელემენტების ჯგუფზე მოქმედებს.
სელექტორების პრიორიტეტულობაში იგულისხმება სელექტორების იერარქია. რაც ნიშნავს, რომ თითოეულ სელექტორის ტიპს თავისი წონა და
მნიშვნელოვნობა გააჩნია და ერთი მეორეზე უფრო მნიშვნელოვანია.
იერარქია:
    1) inline CSS;
    2) ID selector;
    3) class selector;
    4) type(tag) selector.


მაგალითები: */


div {
    color: red;
}

.p1 {
    color: blue;
}

.bold {
    color: red;
}

.emphasize {
    color: green;
}

em {
    color: cyan;
}

div p b strong {
    color: violet;
}