* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
}


div {
    width: 100px;
    height: 100px;
    background-color: red;
    transform: translate(200px, -300px) scale(3) rotate(-45deg);
    transform-origin: top right;
}


div:hover {
    transition-delay: 2s;
    transition: 5s, width 3s, height 3s, background-color 4s;
    transform: scale(2);
    background-color: purple;
}