a {
    text-decoration: none;
    color: black;
    font-size: 32px;
    margin-right: 12px;
}


select, label, input {
    margin-bottom: 5px;
}


body {
    background-color: black;
}


.sign_up {
    width: 33.3rem;
    justify-content: center;
    margin-left: 47.5%;
    margin-top: 300px;
    background-color: orange;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
}